{% load widget_tweaks %}
{% load tags %}

<div class="input-field col {{ col_sizes|default:'s12 l12' }}" {% if input_field_id %}id="{{ input_field_id }}"{% endif %}>
  {% render_field field class+=field|get_error_class class+=class %}

  <label for="{{ field.id }}">
    {{ field.label }}

    {% if field.help_text %}
      <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ field.help_text }}">
        <i class="material-icons">help</i>
      </a>
    {% endif %}
  </label>
  <br>
  {% for error in field.errors %}
    <span class="help-text caption red-text">{{ error }}</span>
  {% endfor %}
  
</div>