<div class="card">
  <div class="card-content">
    <p style="line-height: 30px" class="card-title">{{ object.title }}</p>

    <p class="grey lighten-4" style="padding: 10px;margin-bottom: 10px;">
      {{ object.brief }}
    </p>

    <p>
      Enviado por: 
      {{ object.created_by.user.get_full_name }} - {{ object.created_by.user.email }}
    </p>
    {% if object.authors.exists %}
      <p>
        {% if activity.slug == 'sipex-minicursos' %}Ministrantes: {% else %}Autor: {% endif %}
        {% for ministrante in object.authors.all %}
          {{ ministrante.name }} - {{ ministrante.email }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    {% endif %}

    {% if object.document %}
      <p>
        Document: 
        {% if object.document %}
          <a href="{{ object.document.url }}" target="_blank">
            {{ object.document.name }}
          </a>
        {% else %}
        Sem arquivo
        {% endif %}
      </p>
    {% endif %}
    <span style="padding: 5px;top: 7px;position: relative;" class="blue darken-4 white-text">
      {{ object.get_area_display }}
    </span>
  </div>
</div>