<div class="card">
  <div class="card-content">
    <p style="line-height: 30px" class="card-title">{{ object.title }}</p>

    <p class="grey lighten-4" style="padding: 10px;margin-bottom: 10px;">
      {{ object.brief }}
    </p>

    <p>
      From: 
      <a href="mailto:{{ object.created_by.user.email }}" target="_blank">
        {{ object.created_by.user.get_full_name }}
      </a>
    </p>
    <p>
      Document: 
      {% if object.document %}
        <a href="{{ object.document.url }}" target="_blank">
          {{ object.document.name }}
        </a>
      {% else %}
      Sem arquivo
      {% endif %}
    </p>
    <span style="padding: 5px;top: 7px;position: relative;" class="blue darken-4 white-text">
      {{ object.get_area_display }}
    </span>
  </div>
  <div class="card-action">
    <a class="blue-text text-darken-4" href="#">Update</a>
    <a class="blue-text text-darken-4" href="#">Delete</a>
    <a class="blue-text text-darken-4" href="#">Aprove</a>
  </div>
</div>