{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}

    <div class="row">
      {% include "includes/field.html" with field=form.oldpassword %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.password1 %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.password2 %}
    </div>

    <br>
    <div class="center-align col s4">
      <a href="{% url 'account_profile' %}">
        {% trans 'back' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Change Password' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}
