{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <h5 class="center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</h5>
  {% else %}
    {% if form %}
      <form method="POST" action=".">
        {% csrf_token %}

        <div class="row">
          {% include "includes/field.html" with field=form.password1 %}
        </div>

        <div class="row">
          {% include "includes/field.html" with field=form.password2 %}
        </div>

        <br>
        <div class="center-align col s4">
          <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
            {% trans 'Reset My Password' %}
            <i class="material-icons right">done</i>
          </button>
        </div>
      </form>
    {% else %}
      <h5 class="center">{% trans 'Your password is now changed.' %}</h5>
    {% endif %}
  {% endif %}
{% endblock %}
