{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <h5 class="center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h5>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}

    <div class="row">
      {% include "includes/field.html" with field=form.email %}
    </div>

    <br>
    <div class="center-align col s4">
      <a href="{% url 'account_login' %}">
        {% trans 'back' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Reset My Password' %}
        <i class="material-icons right">done</i>
      </button>
    </div>

    <h5 class="center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</h5>
  </form>

{% endblock %}
