{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block content %}
  <h5 class="center">
    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
  </h5>

  {% get_providers as socialaccount_providers %}

  <div class="center">
    <h5>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts.{% endblocktrans %}</h5>

    <br>
    <div class="socialaccount_ballot">
      {% for provider in socialaccount_providers %}
        <a class="btn-large waves-effect waves-light {% if provider.id == 'google' %}red{% endif %}" href="{% provider_login_url provider.id process=process %}">
          <i class="material-icons right">{% if provider.id == 'google' %}account_circle{% else %}account_box{% endif %}</i>
          {{ provider.name|title }}
        </a>
      {% endfor %}
    </div>
    <br>
    <h5>{% trans 'Or using your login and password' %}</h5>
  </div>

  <form id="signup_form" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="row">
      {% include "includes/field.html" with field=form.full_name %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.email %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.password1 %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.password2 %}
    </div>

    <br>
    <div class="center-align col s4">
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Sign Up' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}
