-e git+https://github.com/Tivix/django-common.git@bcf5a67192f967a71688f597dc79db8f9b620412#egg=django_common_helpers-master
Django==1.8.4
Pygments==2.0.2
WebOb==1.4.1
WebTest==2.0.18
Werkzeug==0.10.4
appnope==0.1.0
beautifulsoup4==4.4.1
blessings==1.6
bpython==0.14.2
curtsies==0.1.19
decorator==4.0.4
dj-database-url==0.3.0
dj-static==0.0.6
django-allauth==0.23.0
django-common==0.1.51
django-extensions==1.5.7
django-toolbelt==0.0.1
django-vanilla-views==1.0.4
django-webtest==1.7.8
django-widget-tweaks==1.4.1
gnureadline==6.3.3
greenlet==0.4.9
gunicorn==19.3.0
ipdb==0.8.1
ipython-genutils==0.1.0
ipython==4.0.0
mock==1.0.0
model-mommy==1.2.5
oauthlib==1.0.3
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
python-openid==2.2.5
requests-oauthlib==0.5.0
requests==2.7.0
simplegeneric==0.8.1
six==1.9.0
static3==0.6.1
traitlets==4.0.0
waitress==0.8.10
wsgiref==0.1.2
