{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
  <div class="row center">
    <h3>Tem certeza que deseja remover esse evento? Ele ainda pode ser muito importante para outros alunos.</h3>
  </div>
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      <div class="center-align">
        <a href="{% url 'event:detail' object.slug %}">{% trans 'voltar' %}</a>
        &nbsp;
        <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
          {% trans 'delete' %}
          <i class="material-icons right">delete</i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}