{% extends "base.html" %}

{% load i18n %}

{% block header_actions %}
  {% if request.user.is_staff or request.user == event.author %}
    <div class="right" style="line-height: 122px;">
      <a class='dropdown-button btn-large waves-effect waves-light light-blue darken-4' href='javascript:;' data-activates='event-actions'>
        {% trans 'Ações' %}
        <i class="material-icons right" style="line-height: 55px;">arrow_drop_down</i>
      </a>
      <ul id='event-actions' class='dropdown-content'>
        <li>
          <a class="light-blue-text" href="{{ object.get_update_url }}">
            {% trans 'atualizar' %}
            <i class="material-icons right">edit</i>
          </a>
        </li>
        <li>
          <a class="light-blue-text" href="{{ object.get_delete_url }}">
            {% trans 'remover' %}
            <i class="material-icons right">delete</i>
          </a>
        </li>
      </ul>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    {% if object.photo %}
      <div class="col s12 m6 l6">
        <img class="event-image responsive-img" src="{{ object.get_photo_url }}">
      </div>
      <div class="col s12 m6 l6">
        <div class="center-align">
          <h3>{{ object.title }}</h3>
          
          <div class="col s8 offset-s2 m10 offset-m1 l6 offset-l3">
            <a class="btn btn-wide btn-large waves-effect waves-light light-blue darken-4" {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_absolute_url }}"{% endif %} style="width: 100%">
              Participar
              <i class="material-icons right"><i class="material-icons">arrow_forward</i></i>
            </a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="center-align">
        <div class="col s4 offset-s4">
          <a class="btn btn-wide btn-large waves-effect waves-light light-blue darken-4" {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_absolute_url }}"{% endif %} style="width: 100%">
            Participar
            <i class="material-icons right"><i class="material-icons">arrow_forward</i></i>
          </a>
        </div>
      </div>
    {% endif %}
  </div>

  <blockquote class="light-blue-border">{{ object.description|linebreaks }}</blockquote>
  <hr/>
  <h5>Compartilhar</h5>
  <div class="addthis_sharing_toolbox"></div>
{% endblock %}