{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load tags %}

{% block content %}
  {{ form.errors }}

  <form method="POST">
    {% csrf_token %}

    <div class="row">
      {% include "includes/field.html" with field=form.title %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.link %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.scheduled_date class='datepicker' %}
    </div>

    <div class="row">
      <div class="input-field">
        {% render_field form.description class+="materialize-textarea" %}
        <label for="{{ form.description.id }}" data-error="{{ form.description.errors.0 }}">
          {{ form.description.label }}
        </label>
        <br>
        {% if form.description.help_text %}
          <p class="help-text caption">{{ form.description.help_text }}</p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      {% include "includes/checkbox.html" with field=form.categories queryset=object.categories field_name='categories' %}
    </div>

    <!--
    <div class="row">
      <div class="input-field col s12 l12" style="padding-bottom: 20px;">
        {{ form.is_public }}
        <label for="id_is_public">{{ form.is_public.label }}</label><br>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 l12" style="padding-bottom: 20px;">
        {{ form.is_published }}
        <label for="id_is_published">{{ form.is_published.label }}</label><br>
      </div>
    </div>
    -->

    <br>
    <div class="center-align col s4">
      <a href="{% if object %}{% url 'event:detail' object.slug %}{% else %}{% url 'event:list' %}{% endif %}">
        {% trans 'cancel' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light light-blue darken-4">
        {% trans 'submit' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
      $('.datepicker').pickadate({
        format: 'dd/mm/yyyy',
        selectMonths: true,
        selectYears: 15
      });
    });
  </script>
{% endblock extra_js %}