{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% load tags %}

{% block content %}
  {{ form.errors }}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      {% include "includes/field.html" with field=form.title %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.link %}
    </div>

    <div class="file-field input-field col s12">
      <div class="btn">
        <span>
          <i class="material-icons left">import_export</i>
          {{ form.photo.label }}
        </span>
        <input type="file" name="photo" id="id_photo">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" value="{% if object.pk %}{{ object.photo|get_filename|default:'Vazio' }}{% endif %}">
      </div>
    </div>
    <div class="row">
      {% include "includes/field.html" with field=form.scheduled_date class='datepicker' %}
    </div>

    <div class="row">
      <div class="input-field col s12">
        {% render_field form.description class+="materialize-textarea" %}
        <label for="{{ form.description.id }}" data-error="{{ form.description.errors.0 }}">
          {{ form.description.label }}
        </label>
        <br>
        {% if form.description.help_text %}
          <p class="help-text caption">{{ form.description.help_text }}</p>
        {% endif %}
      </div>
    </div>

    <div class="row">
      {% include "includes/checkbox.html" with field=form.categories queryset=object.categories field_name='categories' %}
    </div>

    <br>
    <div class="center-align col s4">
      <a href="{% if object %}{% url 'event:detail' object.slug %}{% else %}{% url 'event:list' %}{% endif %}">
        {% trans 'voltar' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4 darken-4">
        {% trans 'salvar' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
      $('.datepicker').pickadate({
        format: 'dd/mm/yyyy',
        selectMonths: true,
        selectYears: 15
      });
    });
  </script>
{% endblock extra_js %}