{% extends "base.html" %}

{% load i18n %}

{% block header_actions %}
  <div class="right" style="line-height: 122px;">
    <a class='btn-large waves-effect waves-light blue darken-4 darken-4' href="{% url 'event:create' %}">
      {% trans 'add event' %}
      <i class="material-icons right" style="line-height: 55px;">add</i>
    </a>
  </div>
{% endblock %}

{% block content %}
  {% if object_list %}
    <div class="row" id="masonry-grid">
      {% for object in object_list %}
        <div class="col s12 m6 l4">
          {% include "event/includes/card.html" with object=event %}
        </div>
      {% endfor %}
    </div>
  {% else %}
      <div class="row center">
        <h3 class="light white-text header">Phasellus volutpat metus eget</h3>
        <p class="col s8 offset-s2 caption">
          Aenean viverra rhoncus pede. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ac felis sit amet ligula pharetra condimentum.
        </p>
        <a href="{% url 'event:create' %}" class="btn-large waves-effect waves-light blue darken-4 darken-4">
          {% trans 'add event' %}
          <i class="material-icons large right">add</i>
        </a>
      </div>
  {% endif %}
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#masonry-grid').masonry({
        columnWidth: '.col',
        itemSelector: '.col',
      });
    });
  </script>
{% endblock extra_js %}