{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block content %}
  <div class="row center">
    <h3 class="light white-text header">Phasellus volutpat metus eget</h3>
    <p class="col s8 offset-s2 caption">
      Aenean viverra rhoncus pede. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ac felis sit amet ligula pharetra condimentum.
    </p>
  </div>
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      <div class="center-align">
        <a href="{% url 'category:detail' object.slug %}">{% trans 'voltar' %}</a>
        &nbsp;
        <button type="submit" class="btn-large waves-effect waves-light blue darken-4 darken-4">
          {% trans 'delete' %}
          <i class="material-icons right">delete</i>
        </button>
      </div>
    </form>
  </div>
{% endblock %}