{% extends "base.html" %}

{% load i18n %}

{% if request.user.is_admin %}
  {% block header_actions %}
    <div class="right" style="line-height: 122px;">
      <a class='btn-large waves-effect waves-light light-blue darken-4' href="{% url 'course:create' %}">
        {% trans 'add course' %}
        <i class="material-icons right" style="line-height: 55px;">add</i>
      </a>
    </div>
  {% endblock %}
{% endif %}

{% block content %}
  {% for object in object_list %}
    <h4>{{ object }}</h4>
    <div class="row masonry-grid">
      {% for course in object.courses.all %}
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content light-blue-text">
              <div class="card-title light-blue-text">
                <a href="{{ course.get_absolute_url }}">
                  <h5>{{ course }}</h5>
                </a>
              </div>
            </div>
            <div class="card-action">
              <div class="center-align">
                <a class="btn btn-wide btn-large waves-effect waves-light light-blue darken-4" href="{{ course.get_update_url }}" style="width: 100%">
                  Join course
                  <i class="material-icons right"><i class="material-icons">arrow_forward</i></i>
                </a>
              </div>
              {% if request.user.is_staff or request.user == course.author %}
                <br>
                <a href="{{ course.get_update_url }}">Update</a>
                <a href="{{ course.get_delete_url }}">delete</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% empty %}
      <div class="row center">
        <h3 class="light light-blue-text header">Phasellus volutpat metus eget</h3>
        <p class="col s8 offset-s2 caption">
          Aenean viverra rhoncus pede. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ac felis sit amet ligula pharetra condimentum.
        </p>
        <a href="{% url 'course:create' %}" class="btn-large waves-effect waves-light light-blue darken-4">
          {% trans 'add course' %}
          <i class="material-icons large right">add</i>
        </a>
      </div>
  {% endfor %}
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.masonry-grid').masonry({
        columnWidth: '.col',
        itemSelector: '.col',
      });
    });
  </script>
{% endblock extra_js %}