{% extends "base.html" %}

{% load i18n %}
{% load humanize %}

{% load tags %}

{% block content %}
  <div class="hide">
    <input type="hidden" name="latitude" id="id_latitude" value="-5.8264531" />
    <input type="hidden" name="longitude" id="id_longitude" value="-35.2090325" />
    <input type="hidden" name="title" id="id_title" value="{{ object }}" />
  </div>

  <div id="activity-header">
    <div class="row">
      {% if object.photo %}
        <div class="activity-image col s12 m6 l6">
          <img style="width:100%" class="responsive-img" src="{{ object.get_photo_url }}" />
        </div>
        <div class="col s12 m6 l6">
          <h5 class="price">R$ {{ activity.price|intcomma }}</h5>

          <div class="short-description">
            <p>{{ object.description|safe|truncatewords:50 }}</p>
          </div>

          <div class="activity-scheduled-date">
            <p>{% trans 'Date:' %} {{ object.scheduled_date }}</p>
          </div>

          <div class="join">
            {% include "activity/includes/action-button.html" %}
          </div>

          <div style="margin: 20px 0;width: 100%; height: 250px" id="id_map"></div>

          <div class="categories">
            <p>
              {% trans 'Categories:' %}
              {% for category in object.categories.all %}
                <a href="{% url 'category:detail' category.slug %}">{{ category }}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </p>  
          </div>

          <div id="activity-share">
            <div class="addthis_sharing_toolbox"></div>
            {% if object.short_url %}
              <p>
                {% trans 'Short url:' %}
                <a href="{{ object.get_full_short_url }}" target="_blank">{{ object.get_full_short_url }}</a>
              </p>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="center-align">
          <div class="col col s12 m6 offset-m3 l6 offset-l3">
            {% include "activity/includes/action-button.html" %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div id="activity-description">
    <h5>{% trans 'Description' %}</h5>
    {{ object.description|safe|linebreaks }}
  </div>

  {% if not object.is_online and object.location %}
    <br/>
    <div id="activity-location">
      <h5>{% trans 'Local' %}</h5>
      <p>
        {{ object.location }}
      </p>
    </div>
  {% endif %}

  {% if object.is_organizer and object.created_by.organizer_name %}
    <br/>
    <div id="activity-location">
      <h5>{% trans 'Organizer' %}</h5>
      <p style="margin-bottom: 0">
        {{ object.created_by.organizer_name }}
        {% if object.created_by.organizer_email %}
          -
          <a href="mailto:{{ object.created_by.organizer_email }}" target="_blank">
            {{ object.created_by.organizer_email }}
          </a>
        {% endif %}
        {% if object.created_by.organizer_phone %}
          -
          {{ object.created_by.organizer_phone }}
        {% endif %}
      </p>
    </div>
  {% elif object.is_organizer and request.user.profile == object.created_by %}
    <br/>
    <div id="activity-location">
      <h5>{% trans 'Organizer' %}</h5>
      {% url 'account_profile' as profile_url %}
      {% blocktrans with profile_url=profile_url %}
        <p style="margin-bottom: 0">
          Click <a href="{{ profile_url }}#organizer-information">here</a> to fill the Organizer information.
        </p>
      {% endblocktrans %}
    </div>
  {% endif %}

  <br/>
  <p class="red-text">
    {% trans '* ADDITIONAL ACTIVITIES: Check with your coordinator if this activity is valid for your course and university.' %}
  </p>
{% endblock %}


{% block extra_js %}

  <script type="text/javascript">
    // When the window has finished loading create our google map below
    // google.maps.event.addDomListener(window, 'load', init);
    function initMap() {
      // Get the HTML DOM element that will contain your map 
      // We are using a div with id="map" seen below in the <body>
      var mapElement = $('#id_map')[0];
      var activity = $('#id_title').val();
      var location = new google.maps.LatLng($('#id_latitude').val(), $('#id_longitude').val());
      // var location = new google.maps.LatLng(-5.811598, -35.203169);


      // Basic options for a simple Google Map
      // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
      var mapOptions = {
        zoom: 16,
        center: location,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
      };

      // Create the Google Map using our element and options defined above
      var map = new google.maps.Map(mapElement, mapOptions);

      // Let's also add a marker while we're at it
      var marker = new google.maps.Marker({
          position: location,
          map: map,
          title: activity
      });
    }
  </script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=pt_BR&callback=initMap"></script>
{% endblock extra_js %}