{% extends "base.html" %}

{% load i18n %}

{% block header_actions %}
  {% if request.user.is_staff or request.user.profile == object.created_by %}
    <div class="right" style="line-height: 122px;">
      <a class='dropdown-button btn-large waves-effect waves-light white blue-text text-darken-4' href='javascript:;' data-activates='activity-actions'>
        {% trans 'Actions' %}
        <i class="material-icons right" style="line-height: 55px;">arrow_drop_down</i>
      </a>
      <ul id='activity-actions' class='dropdown-content'>
        <li>
          <a class="blue-text text-darken-4" href="{{ object.get_update_url }}">
            {% trans 'Update' %}
            <i class="material-icons right">edit</i>
          </a>
        </li>
        <li>
          <a class="blue-text text-darken-4" href="{{ object.get_delete_url }}">
            {% trans 'Delete' %}
            <i class="material-icons right">delete</i>
          </a>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="right" style="line-height: 122px;">
      <a class='btn-large waves-effect waves-light white blue-text text-darken-4' {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_attendee_join_url }}"{% endif %}>
        {% trans 'Join' %}
        <i class="material-icons right" style="line-height: 55px;">arrow_forward</i>
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    {% if object.photo %}
      <div class="col s12 m6 l6">
        <img class="activity-image" src="{{ object.get_photo_url }}">
      </div>
      <div class="col s12 m6 l6">
        <h3>{{ object.title }}</h3>

        <a class="btn btn-wide btn-large waves-effect waves-light blue darken-4" {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_attendee_join_url }}"{% endif %}>
          {% trans 'Join' %}
          <i class="material-icons right"><i class="material-icons">arrow_forward</i></i>
        </a>
      </div>
    {% else %}
      <div class="center-align">
        <h3>{{ object.title }}</h3>

        <div class="col s4 offset-s4">
          <a class="btn btn-wide btn-large waves-effect waves-light blue darken-4" {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_attendee_join_url }}"{% endif %} style="width: 100%">
            {% trans 'Join' %}
            <i class="material-icons right"><i class="material-icons">arrow_forward</i></i>
          </a>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="row">
    <!-- Propaganda no detalhe -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5507175708449774"
         data-ad-slot="7643241846"
         data-ad-format="auto"></ins>
  </div>

  <div id="activity-description">
    <h5>{% trans 'Description' %}</h5>
    {{ object.description|safe|linebreaks }}
  </div>

  {% if not object.is_online %}
    <br/>
    <h5>{% trans 'Local' %}</h5>
    <p>
      {{ object.location }}
    </p>
    <br/>
  {% endif %}

  {% if object.is_organizer and object.created_by.organizer_name %}
    <br/>
    <h5>{% trans 'Organizer' %}</h5>
    <p>
      {{ object.created_by.organizer_name }}
      {% if object.created_by.organizer_email %}
        -
        <a href="mailto:{{ object.created_by.organizer_email }}" target="_blank">
          {{ object.created_by.organizer_email }}
        </a>
      {% endif %}
      {% if object.created_by.organizer_phone %}
        -
        {{ object.created_by.organizer_phone }}
      {% endif %}
    </p>
  {% elif object.is_organizer and request.user.profile == object.created_by %}
    <br/>
    <h5>{% trans 'Organizer' %}</h5>
    {% url 'profile' as profile_url %}
    {% blocktrans with profile_url=profile_url %}
      <p>
        Click <a href="{{ profile_url }}#organizer-information">here</a> to fill the Organizer information.
      </p>
    {% endblocktrans %}
  {% endif %}

  <br/>
  <h5>{% trans 'Share' %}</h5>
  <div class="addthis_sharing_toolbox"></div>

  <br/>
  <p class="red-text">
    {% trans '* ADDITIONAL ACTIVITIES: Check with your coordinator if this activity is valid for your course and university.' %}
  </p>
{% endblock %}
