{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% load tags %}

{% block extra_css %}
  <style type="text/css">
    #map {
      height: 400px;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  {{ form.errors }}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.place_id }}

    <div class="row">
      {% include "includes/field.html" with field=form.title %}
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label for="{{ form.description.id }}" data-error="{{ form.description.errors.0 }}">
          {{ form.description.label }}
        </label>
        <br><br>
        {% render_field form.description class+="materialize-textarea" %}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <input {% if object and object.is_organizer %}checked="checked"{% endif %} type="checkbox" id="id_is_organizer" name="is_organizer" />
        <label for="id_is_organizer">{% trans 'Are you the Organizer of this activity?' %}</label><br>
      </div>
    </div>
    <br>

    <div class="row">
      {% include "includes/field.html" with field=form.link %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.price %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.short_url %}
    </div>

    <div class="file-field input-field col s12">
      <div class="btn">
        <span>
          <i class="material-icons left">import_export</i>
          {{ form.photo.label }}
        </span>
        <input type="file" name="photo" id="id_photo">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" value="{% if object.pk %}{{ object.photo|get_filename|default:'Vazio' }}{% endif %}">
      </div>
      {% if form.photo.help_text %}
        <p class="help-text caption">{{ form.photo.help_text }}</p>
      {% endif %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.scheduled_date class='datepicker' %}
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.hours %}
    </div>

    <div class="row">
      <div class="col s12">
        <input {% if object and object.is_online %}checked="checked"{% endif %} type="checkbox" id="id_is_online" name="is_online" />
        <label for="id_is_online">{% trans 'Online only activity?' %}</label><br>
      </div>
    </div>
    <br>

    <div class="row {% if object and object.is_online %}hide{% endif %}">
      {% include "includes/field.html" with field=form.location class='placepicker' %}
      <div class="col s12">
        <div id="map"></div>
      </div>
    </div>

    <div class="row">
      {% include "includes/field.html" with field=form.status %}
    </div>

    <div class="row">
      {% include "includes/checkbox.html" with field=form.categories queryset=object.categories field_name='categories' two_columns=True %}
    </div>

    <br>
    <div class="center-align col s4">
      <a href="{% if object %}{% url 'activity:detail' object.slug %}{% else %}{% url 'activity:list' %}{% endif %}">
        {% trans 'back' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Save' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -15.1272, lng: -53.1805},
        zoom: 4
      });
      var input = /** @type {!HTMLInputElement} */(
          document.getElementById('id_location'));

      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.bindTo('bounds', map);

      var infowindow = new google.maps.InfoWindow();
      var marker = new google.maps.Marker({
        map: map
      });

      autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          window.alert("Autocomplete's returned place contains no geometry");
          return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(17);  // Why 17? Because it looks good.
        }
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + place.formatted_address);
        infowindow.open(map, marker);

        if ($("#id_place_id").val() != place.place_id){
          $("#id_place_id").val(place.place_id);
        }
      });
    }
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=pt_BR&callback=initMap"></script>

  <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tinymce/langs/pt_BR.js' %}"></script>
  <script type="text/javascript">
    tinymce.init({
      selector: '#id_description',
      menubar: false,
      toolbar: 'undo redo | bold italic | underline strikethrough | ' +
               'alignleft aligncenter alignright alignjustify | ' +
               'bullist, numlist | link unlink | ',
      skin: 'light',
      plugins: 'link',
      language: 'pt_BR',
      force_br_newlines: false,
      apply_source_formatting: false,
      formats: {
        bold: {
          inline: 'b'
        },
        italic: {
          inline: 'i'
        },
      },
      extended_valid_elements: "b,i,b/strong,i/em",
    });
  </script>


  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
      
      $('.datepicker').pickadate({
        format: 'dd/mm/yyyy',
        selectMonths: true,
        selectYears: 15
      });

      // $('#id_location').parent().find('label').remove();
      // $('#id_location').attr('placeholder', 'Local');

      $('#id_is_online').change(function() {
        if ($(this).is(':checked')) {
          $('#id_location').parents('.row').addClass('hide');
        } else {
          $('#id_location').parents('.row').removeClass('hide');
        }
      });
    });
  </script>
{% endblock extra_js %}