{% load i18n %}
{% load static %}

<div class="card hoverable">
  <div class="card-image">
    <img src="{{ object.get_photo_url }}"/>
    <span class="card-title truncate">{{ object }}</span>
  </div>
  <div class="card-action center">
    <a href="{{ object.get_send_email_url }}" class="btn" target="_blank">
      <i class="material-icons">email</i>
    </a>
    <a href="javascript:;" class="btn check-attendee">
      <i class="material-icons">
        {% if object.attended_at %}check_box{% else %}check_box_outline_blank{% endif %}
      </i>
    </a>
  </div>
</div>