{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% blocktrans with name=attendee.name %}
        Certificate of presence to "{{ name }}".
      {% endblocktrans %}
    </title>
    <style>
      @page {
        size: 297mm 223mm;
        background-image: url('{% static 'attendee/img/sucesso-em-entrevista.png' %}');
      }

      body, html {
        position: relative;
      }

      div {
        position: fixed;
        padding-top: 380pt;
        padding-left: 30pt;
      }

      p {
        font-size: 18pt;
        color: #fff;
        line-height: 20pt;
      }
    </style>
  </head>
  <body>
    <div>
      <p>
        Certificamos que <strong>{{ attendee.name }}</strong>
        <br>
        <br>
        participou do curso <strong>Como Ter Sucesso em Entrevista</strong>
        <br>
        <br>
        com duração de
        <strong>
          {% blocktrans count hours=activity.hours %}{{ hours }} hour{% plural %}{{ hours }} hours{% endblocktrans %}
          realizado no dia {{ activity.start_scheduled_date|date:'d \d\e F \d\e Y.' }}
        </strong>
      </p>
    </div>
  </body>
</html>