{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% load tags %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if activity.slug == 'sipex-minicursos' %}
      <div class="row" id="sipex-minicursos">
        {% include "includes/field.html" with field=form.title col_sizes='s12' %}
        {% include "includes/textarea.html" with field=form.brief col_sizes='s12' %}
        {% include "includes/field.html" with field=form.area col_sizes='s12' %}
        {% include "includes/field.html" with field=form.carga_horaria col_sizes='s12' %}
        {% include "includes/field.html" with field=form.quantidade_de_vagas col_sizes='s12' %}
        {% include "includes/field.html" with field=form.institution col_sizes='s12' %}
        
        {% include "includes/textarea.html" with field=form.ementa col_sizes='s12' %}
        {% include "includes/textarea.html" with field=form.objetivos col_sizes='s12' %}
        {% include "includes/field.html" with field=form.publico col_sizes='s12' %}
        {% include "includes/textarea.html" with field=form.materiais col_sizes='s12' %}
        {% include "includes/textarea.html" with field=form.justificativa col_sizes='s12' %}
        
        <div class="col s12 m6 grey lighten-4">
          <p>Ministrante 1</p>
          {% include "includes/field.html" with field=form.author1_name %}
          {% include "includes/field.html" with field=form.author1_email %}
        </div>

        <div class="col s12 m6 grey lighten-3">
          <p>Ministrante 2</p>
          {% include "includes/field.html" with field=form.author2_name %}
          {% include "includes/field.html" with field=form.author2_email %}
        </div>

        <div class="col s12 m6 grey lighten-4">
          <p>Ministrante 3</p>
          {% include "includes/field.html" with field=form.author3_name %}
          {% include "includes/field.html" with field=form.author3_email %}
        </div>
      </div>
    {% else %}
      <div class="row" id="proposals">
        {% include "includes/field.html" with field=form.title col_sizes='s12' %}

        {% include "includes/textarea.html" with field=form.brief col_sizes='s12' %}

        {% include "includes/field.html" with field=form.area col_sizes='s12' %}

        <div class="file-field input-field col s12">
          <div class="btn">
            <span>{{ form.document.label }}</span>
            {{ form.document }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          <br>
          {% for error in form.document.errors %}
            <p class="help-text caption red-text">{{ error }}</p>
          {% endfor %}
        </div>
      
        <div class="col s12 m6 grey lighten-4">
          <p>Autor 1</p>
          {% include "includes/field.html" with field=form.author1_name %}
          {% include "includes/field.html" with field=form.author1_email %}
        </div>

        <div class="col s12 m6 grey lighten-3">
          <p>Autor 2</p>
          {% include "includes/field.html" with field=form.author2_name %}
          {% include "includes/field.html" with field=form.author2_email %}
        </div>

        <div class="col s12 m6 grey lighten-4">
          <p>Autor 3</p>
          {% include "includes/field.html" with field=form.author3_name %}
          {% include "includes/field.html" with field=form.author3_email %}
        </div>

        <div class="col s12 m6 grey lighten-3">
          <p>Autor 4</p>
          {% include "includes/field.html" with field=form.author4_name %}
          {% include "includes/field.html" with field=form.author4_email %}
        </div>

        <div class="col s12 m6 grey lighten-4">
          <p>Autor 5</p>
          {% include "includes/field.html" with field=form.author5_name %}
          {% include "includes/field.html" with field=form.author5_email %}
        </div>
      </div>
    {% endif %}

    <br>
    <div class="center-align col s4">
      <a href="{% url 'activity:detail' activity.slug %}">
        {% trans 'back' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Save' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}
