{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>168 Horas</title>
  </head>

  <body>
    {% blocktrans with get_full_name=object.user.get_full_name activity_title=activity.title %}
      <p>Hi {{ get_full_name }}, welcome to the "{{ activity_title }}"!</p>
    {% endblocktrans %}

    {% if object.status == 'waiting' %}
      {% blocktrans with payment_url=obejct.get_payment_url %}
        <p>
          In order to confirm you subscription to this actitivty, you need to pay your subscription, to that you can follow the page after add your information or follow this link:
          <a href="{{ payment_url }}" target="_blank">this link</a>, if you already paid ignore ignore this email, we will send another email after the payment being confirm with the Moip.
        </p>
      {% endblocktrans %}
    {% endif %}

    {% blocktrans with organizer_email=created_by.organizer_email organizer_name=created_by.organizer_name %}
      <p>
        If you have any doubts about this activity feel free to get in touch with the Organizer:
        <a href="mailto:{{ organizer_email }}" target="_blank">{{ organizer_name }}</a> by email.
      </p>

      <p>Thank you.</p>
    {% endblocktrans %}
  </body>
</html>