{% load static %}
{% load i18n %}
{% load socialaccount %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->
  <head>
    <meta name="google-site-verification" content="6_eE-6Qrv6NouNfJQ8jbJQ77mbBQuWqRxb24MAgTPtU" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="168 Horas" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta property="og:image" content="{% static 'img/favicon.ico' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <title>{{ page_title|default:_('Index') }} - 168 Horas</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-responsive.css' %}" media="screen,projection"/>
    
    {% block extra_css %}{% endblock %}

    <style type="text/css">
      .invalid + label:after {
        top: 40px !important;
        white-space: pre;
      }
    </style>
  </head>
  <body>
    <nav role="navigation" id="navigation-menu">
      <div class="nav-wrapper container">
        <a href="{% if request.user.is_authenticated %}{% url 'activity:list' %}{% else %}{% url 'index' %}{% endif %}" class="brand-logo">
          <img src="{% static 'img/logo.svg' %}" style="position: relative; top: 6.5px;">
        </a>
        <!--<ul id="nav-mobile" class="left hide-on-med-and-down">
          <li>
            <form action="{% url 'activity:list' %}">
              {% csrf_token %}
              <div class="input-field">
                <input id="id_search" name="search" type="search" required="required" placeholder="Encontre eventos">
                <label for="search">
                  <i class="material-icons">search</i>
                </label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </li>
        </ul>-->
        <ul class="right hide-on-med-and-down">
          <li>
            {% if request.user.is_authenticated %}
              <a class='dropdown-button' href='#' data-activates='staff-dropdown'>
                {{ request.user.get_full_name }}
                <i class="material-icons right">arrow_drop_down_circle</i>
              </a>
              <ul id='staff-dropdown' class='dropdown-content white'>
                <li><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
                {% if request.user.is_staff %}
                  <li><a href="{% url 'category:list' %}">{% trans 'Categories' %}</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
              </ul>
            {% else %}
              <a href="{% provider_login_url 'facebook' method='oauth2' %}?next=/activities/">
                {% trans 'Facebook' %}
                <i class="material-icons right">account_circle</i>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    {% if page_title %}
      <nav class="top-nav" style="z-index: 2;">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <a class="page-title">{{ page_title|truncatewords:3 }}</a>
              {% block header_actions %}{% endblock %}
            </div>
          </div>
        </div>
      </nav>
    {% endif %}

    {% block outside_content %}{% endblock %}
    
    <div class="container">
      <div class="section">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% if not request.user.is_authenticated and not index_page %}
      <div id="force-login-modal" class="modal">
        <div class="modal-content">
          <h4>Você está a um clique de aprender!</h4>
          <p>Não perca tempo, faça login e aprenda agora mesmo.</p>
        </div>
        <div class="modal-footer">
          {% include "includes/login_button.html" %}
        </div>
      </div>
    {% endif %}

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s6">
            <h5 class="white-text">Sobre o 168 Horas</h5>
            <p class="white-text">
              Encontre e indique eventos educacionais para complementar sua formação em qualquer lugar, dia e hora!
            </p>
          </div>
          <div class="col l4 s6">
            <h5 class="white-text">Redes Sociais</h5>
            <div style="padding-right: 20px;">
              <div class="addthis_vertical_follow_toolbox white" style="padding: 5px 15px 10px 15px; height: 143px;"></div>
            </div>
          </div>
          <div class="col l4 s12" style="height: 100px;">
            <h5 class="white-text">Incubadora</h5>
            <a href="https://unp.br/empreende/" class="btn btn-wide btn-large white" target="_blank">
              <img style="padding-top: 12px;" src="{% static 'img/empreende.png' %}">
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright blue darken-4 white-text">
        <div class="container center-align">
          © {% now 'Y' %} - 168 Horas, all rights reserved.
        </div>
      </div>
    </footer>
    
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-561e9bbe286b261c" async="async"></script>


    <!-- Google Analytics Tracking Code for http://168h.com.br -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72196916-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Hotjar Tracking Code for http://168h.com.br -->
    <script type="text/javascript">
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:131099,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var ads = $('.adsbygoogle');
        $.each(ads, function(value, index){
          (adsbygoogle = window.adsbygoogle || []).push({});
        });
      });
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('select').not('.disabled').material_select();

        var forceLogin = $('#force-login-modal');
        if (forceLogin.length) {
          $(forceLogin).openModal({
            dismissible: false
          });
        };
      });

      $(window).load(function() {
        $('.masonry-grid').masonry({
          columnWidth: '.col',
          itemSelector: '.col',
        });
      });
    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
