{% load static %}
{% load i18n %}
{% load socialaccount %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title|default:_('Index') }} - 168horas</title>
    <meta name="title" content="168horas" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta property="og:image" content="{% static 'img/favicon.ico' %}" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-responsive.css' %}" media="screen,projection"/>
    {% block extra_css %}{% endblock %}
    <style type="text/css">
      .invalid + label:after {
        top: 40px !important;
        white-space: pre;
      }
    </style>
  </head>
  <body>
    <nav class="blue darken-3" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'index' %}" class="brand-logo">168horas</a>
        <ul class="right hide-on-med-and-down">
          <li>
            {% if request.user.is_authenticated %}
              <a class='dropdown-button' href='#' data-activates='staff-dropdown'>
                {{ request.user }}
                <i class="material-icons right">arrow_drop_down_circle</i>
              </a>
              <ul id='staff-dropdown' class='dropdown-content white'>
                {% if request.user.is_staff %}
                  <li><a class="blue-text" href="{% url 'category:list' %}">{% trans 'Categories' %}</a></li>
                {% endif %}
                <li><a class="blue-text" href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
                <li class="divider"></li>
                <li><a class="blue-text" href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
                </ul>
            {% else %}
              <a href="{% provider_login_url 'facebook' method='oauth2' %}">
                {% trans 'Facebook' %}
                <i class="material-icons right">account_circle</i>
              </a>
            {% endif %}
          </li>
        </ul>

        <ul id="nav-mobile" class="side-nav" style="left: -250px;">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
    {% if page_title %}
      <nav class="top-nav blue darken-3">
        <div class="container">
          <div class="nav-wrapper">
            <a class="page-title">{{ page_title }}</a>
            {% block header_actions %}{% endblock %}
          </div>
        </div>
      </nav>
    {% endif %}

    {% block outside_content %}{% endblock %}
    
    <div class="container">
      <div class="section">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer class="page-footer blue darken-3">
      <div class="container">
        <div class="row">
          <div class="col l4 s6">
            <h5 class="white-text">Sobre o 168Horas</h5>
            <p class="white-text">
              Morbi vestibulum volutpat enim. Phasellus tempus. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula.
            </p>
          </div>
          <div class="col l4 s6">
            <h5 class="white-text">Redes Sociais</h5>
            <div style="padding-right: 20px;">
              <div class="addthis_vertical_follow_toolbox white" style="padding: 5px 15px 10px 15px; height: 143px;"></div>
            </div>
          </div>
          <div class="col l4 s12" style="height: 100px;">
            <h5 class="white-text">Incubadora</h5>
            <a href="https://unp.br/empreende/" class="btn btn-wide btn-large white" target="_blank">
              <img style="padding-top: 12px;" src="{% static 'img/empreende.png' %}">
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright blue darken-4">
        <div class="container center-align">
          © {% now 'Y' %} 168Horas, all rights reserved.
        </div>
      </div>
    </footer>
    
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-561e9bbe286b261c" async="async"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('select').not('.disabled').material_select();
      });
    </script>

    {% block extra_js %}{% endblock %}
  </body>
</html>