{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/testimonials.css' %}" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" media="screen,projection"/>

  <style type="text/css">
    .invalid + label:after {
      top: 40px !important;
      white-space: pre;
    }

    footer {
      padding-left: 0;
    }

    .icon-block i {
      font-size: 80px;
    }
  </style>
{% endblock %}

{% block outside_content %}
  <div id="first-call" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center white-text" style="margin-top: 120px; font-size: 80px;">
          168 HORAS
        </h1>
        <div class="center" style="margin-top: -50px">
          <h2 class="header col s12 light white-text">
            Você aprendendo sempre!
          </h2>
        </div>
        <div class="center" style="margin-top: 60px">
          <a href="http://materializecss.com/getting-started.html" class="waves-effect waves-light btn btn-large btn-wide green">Quero aprender</a>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="{% static 'img/index-bg.jpg' %}" />
    </div>
  </div>

  <section class="section-testimonials text-center blue darken-3" style="padding-bottom: 80px;">
    <div class="container">
      <h2 class="header center white-text">
        Precisando de carga horária?
      </h2>
    </div>
  </section>

  <section>
    <div class="container" style="padding-top: 80px;padding-bottom: 80px;">
      <h2 class="center">Aprenda do seu jeito</h2>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 l4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-3"><i class="material-icons">spellcheck</i></h2>
            <h5 class="center">O que?</h5>
            <p class="light">O que você quer aprender hoje? Escolha eventos educacionais separados em diversas categorias.</p>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-3"><i class="material-icons">list</i></h2>
            <h5 class="center">Como?</h5>
            <p class="light">Escolha entre palestras, cursos, workshops, congressos e muitos outros eventos educacionias, online e/ou presenciais.</p>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-3"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Onde?</h5>
            <p class="light">Onde você deseja aprender? você pode escolher entre eventos educacionais espalhados por todo o país ou aprender no conforto da sua casa.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 l6">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-3"><i class="material-icons">today</i></h2>
            <h5 class="center">Quando</h5>
            <p class="light">Conecte-se no 168 horas  em qualquer momento do seu dia para aprender algo novo e complementar sua formação.</p>
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-3">
              <i class="material-icons">people</i>
            </h2>
            <h5 class="center">Com quem</h5>
            <p class="light">Veja quem são os organizadores e  professores dos eventos, conecte-se com pessoas que se interessam pelo mesmo assunto e amplie sua rede de contatos.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-testimonials text-center blue darken-3" style="padding-bottom: 80px;">
    <div class="container">
      <h2 class="white-text">Depoimentos</h2>
      <br>
      <div class="testimonials_slider">
        <div>
          <div class="blockquote">
            <img src="{% static 'img/face3.jpg' %}" height="120" width="120" alt="Avatar" class="img-circle" style="margin: 0 auto;">
            <p class="white-text">
              There’s a point when you’re done simplifying. Otherwise, things get really complicated.
            </p>
            <strong class="white-text">Frank Chimero</strong>
          </div>
        </div>
        <div>
          <div class="blockquote">
            <img src="{% static 'img/face3.jpg' %}" height="120" width="120" alt="Avatar" class="img-circle" style="margin: 0 auto;">
            <p class="white-text">
              There’s a point when you’re done simplifying. Otherwise, things get really complicated.
            </p>
            <strong class="white-text">Frank Chimero</strong>
          </div>
        </div>
        <div>
          <p class="blockquote">
            <img src="{% static 'img/face3.jpg' %}" height="80" width="80" alt="Avatar" class="img-circle" style="margin: 0 auto;">
            <p class="white-text">
              There’s a point when you’re done simplifying. Otherwise, things get really complicated.
            </p>
            <strong class="white-text">Frank Chimero</strong>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="center blue-text text-darken-3" style="margin-top: 120px; font-size: 60px;">
          Rede colaborativa
        </h1>
        <h4 class="center white-text">
          Amplie a voz da educação indicando gratuitamente eventos educacionais em nossa plataforma!
          educacionais em nossa plataforma!
        </h4>
      </div>
    </div>
    <div class="parallax">
      <img src="{% static 'img/rede-colaborativa.jpg' %}" style="display: block;top: -200px;"/>
    </div>
  </div>

  <section style="padding-top: 40px;">
    <div class="container">
      <h2 class="center">Conheça nosso time</h2>
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="icon-block">
              <h2 class="center blue-text text-darken-3">
                <img src="{% static 'img/luan.jpg' %}" height="150" width="150" alt="Avatar" class="img-circle" style="margin: 0 auto;">
              </h2>
              <div class="center">
                <h5 class="center">Luan Fonseca</h5>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="icon-block">
              <h2 class="center blue-text text-darken-3">
                <img src="{% static 'img/flawber.jpg' %}" height="150" width="150" alt="Avatar" class="img-circle" style="margin: 0 auto;">
              </h2>
              <div class="center">
                <h5 class="center">Flawber Freitas</h5>
              </div>
            </div>
          </div>

          <div class="col s12 m4 l4">
            <div class="icon-block">
              <h2 class="center blue-text text-darken-3">
                <img src="{% static 'img/rafael.jpg' %}" height="150" width="150" alt="Avatar" class="img-circle" style="margin: 0 auto;">
              </h2>
              <div class="center">
                <h5 class="center">Rafael Norberto</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/jquery.bxslider.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.testimonials_slider').bxSlider({
        auto: true,
        slideMargin: 10,
        pager: false,
        infiniteLoop: true
      });
    });
  </script>
{% endblock %}
