{% extends "base.html" %}

{% load i18n %}
{% load tags %}

{% block content %}
  <div class="row masonry-grid">
    {% for object in object_list %}
      <div class="col s12 m4 l4">
        <div class="card">
          {% if object.activity.photo %}
            <a href="{{ object.activity.get_absolute_url }}" class="hoverable" track-event="btn-card-join-activity">
              <div class="card-image">
                <img src="{{ object.activity.get_photo_url }}"/>
              </div>
              <h5 class="card-content truncate">{{ object.activity }}</h5>
            </a>
          {% else %}
            <div class="card-content">
              <div class="card-title white-text">
                <a href="{{ object.activity.get_absolute_url }}" track-event="btn-title-join-activity">
                  <h5>{{ object.activity }}</h5>
                </a>
              </div>
            </div>
          {% endif %}
          <div class="card-action">
            <div class="center-align">
              <a class="dropdown-button btn-large waves-effect waves-light" href="javascript:;" data-activates="activity-actions-{{ object.code }}" style="width: 100%;">
                {% trans 'Actions' %}
                <i class="material-icons right" style="line-height: 55px;">arrow_drop_down</i>
              </a>
              <ul id="activity-actions-{{ object.code }}" class="dropdown-content">
                <li>
                  <a href="{{ object.get_update_url }}" class="tooltipped blue-text text-darken-4" data-position="top" data-delay="50" data-tooltip="{% trans 'Update your information.' %}">
                    {% trans 'Update' %}
                    <i class="material-icons right">edit</i>
                  </a>
                </li>
                {% if object.attended_at %}
                  <li>
                    <a href="{% url 'attendee:certificate' activity_slug=object.activity.slug code=object.code %}" class="blue-text text-darken-4">
                      {% trans 'Open certificate' %}
                      <i class="material-icons right">file_download</i>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="mailto:{{ object|get_organizer_email }}?subject={{ object|get_certificate_subject }}" data-position="top" data-delay="50" data-tooltip="{% trans 'You are not marked as attended.' %}" target="_blank" class="tooltipped blue-text text-darken-4">
                      {% trans 'Ask for Certificate' %}
                      <i class="material-icons right">help</i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col s12 m12 l12">
        <p class="caption">
          {% trans 'Unfortunately, we have no activities in the area. Spread education.' %}
          <a href="{% url 'activity:create' %}" class="btn-link">
            {% trans 'Tell us an activity!' %}
          </a>
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
