{% load humanize %}
{% load i18n %}

{% load tags %}

{% if request.user.is_staff or request.user.profile|is_organizer:object %}
  <a class='dropdown-button btn-large waves-effect waves-light blue darken-4 white-text' href='javascript:;' data-activates='activity-actions'>
    {% trans 'Actions' %}
    <i class="material-icons right" style="line-height: 55px;">arrow_drop_down</i>
  </a>
  <ul id='activity-actions' class='dropdown-content'>
    <li>
      <a class="blue-text text-darken-4" href="{{ object.get_attendee_list_url }}">
        {% trans 'Attendees' %}
        <i class="material-icons right">group</i>
      </a>
    </li>
    <li>
      {% if request.user.is_authenticated and object|already_attended:request.user.profile %}
        {% with object|get_attendee:request.user.profile as attendee %}
          <a class="blue-text text-darken-4" href="{% url 'attendee:certificate' activity_slug=object.slug code=attendee.code %}" target="_blank">
            {% trans 'Open certificate' %}
            <i class="material-icons right">file_download</i>
          </a>
        {% endwith %}
      {% elif request.user.is_authenticated and object|already_joined:request.user.profile %}
        <a class='disabled blue-text text-darken-4' href="javascript:;">
          {% trans 'Already Joined' %}
          <i class="material-icons right">check</i>
        </a>
      {% elif object.is_closed %}
        <a class='disabled blue-text text-darken-4' href="javascript:;">
          {% trans 'Closed' %}
          <i class="material-icons right">timer_off</i>
        </a>
      {% elif request.user.is_authenticated and object|payment_is_pending:request.user.profile %}
        <a class='blue-text text-darken-4' href="{{ object|get_attendee_payment_url:request.user.profile }}">
          {% trans 'Confirm payment:' %} R$ {{ object.price|intcomma }}
          <i class="material-icons right">arrow_forward</i>
        </a>
      {% else %}
        <a class='blue-text text-darken-4' {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_attendee_join_url }}"{% endif %}>
          {% if object.price %}
            {% trans 'Join now for only' %} R$ {{ object.price|intcomma }}
          {% else %}
            {% trans 'Join' %}
          {% endif %}
          <i class="material-icons right">arrow_forward</i>
        </a>
      {% endif %}
    </li>
    <li>
      <a class="blue-text text-darken-4" href="{{ object.get_update_url }}">
        {% trans 'Update' %}
        <i class="material-icons right">edit</i>
      </a>
    </li>
    <li>
      <a class="blue-text text-darken-4" href="{{ object.get_delete_url }}">
        {% trans 'Delete' %}
        <i class="material-icons right">delete</i>
      </a>
    </li>
  </ul>
{% elif request.user.is_authenticated and object|already_attended:request.user.profile %}
  {% with object|get_attendee:request.user.profile as attendee %}
    <a class='btn btn-wide btn-large waves-effect waves-light blue darken-4 white-text' href="{% url 'attendee:certificate' activity_slug=object.slug code=attendee.code %}" target="_blank">
      {% trans 'Open certificate' %}
      <i class="material-icons right">file_download</i>
    </a>
  {% endwith %}
{% elif request.user.is_authenticated and object|already_joined:request.user.profile %}
  <a class='disabled btn-large waves-effect waves-light white blue-text text-darken-4' href="javascript:;">
    {% trans 'Already Joined' %}
    <i class="material-icons right" style="line-height: 55px;">check</i>
  </a>
{% elif object.is_closed %}
  <a class='disabled btn-large waves-effect waves-light white blue-text text-darken-4' href="javascript:;">
    {% trans 'Closed' %}
    <i class="material-icons right">timer_off</i>
  </a>
{% elif request.user.is_authenticated and object|payment_is_pending:request.user.profile %}
  <a class="btn btn-wide btn-large waves-effect waves-light green" {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object|get_attendee_payment_url:request.user.profile }}"{% endif %}>
    {% trans 'Confirm payment:' %} R$ {{ object.price|intcomma }}
    <i class="material-icons right">arrow_forward</i>
  </a>
{% else %}
  <a class="btn btn-wide btn-large waves-effect waves-light green" {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_attendee_join_url }}"{% endif %}>
    {% if object.price %}
      {% trans 'Join now for only' %} {{ object.formatted_price }}
    {% else %}
      {% trans 'Join' %}
    {% endif %}
    <i class="material-icons right"><i class="material-icons">arrow_forward</i></i>
  </a>
{% endif %}