{% load i18n %}

{% load tags %}

<div class="card">
  {% if object.photo %}
    <div class="card-image">
      <a href="{{ object.get_absolute_url }}" class="hoverable">
        <img src="{{ object.get_photo_url }}"/>
        <span class="card-title truncate">{{ object }}</span>
      </a>
    </div>
  {% else %}
    <div class="card-content">
      <div class="card-title white-text">
        <a href="{{ object.get_absolute_url }}">
          <h5>{{ object }}</h5>
        </a>
      </div>
    </div>
  {% endif %}
  <div class="card-action">
    {% if is_activity_card %}
      <div class="center-align">
        {% if request.user.is_authenticated and object|already_joined:request.user.profile %}
          <a class='disabled btn btn-wide btn-large waves-effect waves-light' href="javascript:;" style="width: 100%">
            {% trans 'Already Joined' %}
            <i class="material-icons right" style="line-height: 55px;">check</i>
          </a>
        {% else %}
          <a class='btn btn-wide btn-large waves-effect waves-light' {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_attendee_join_url }}"{% endif %} style="width: 100%">
            {% trans 'Join' %}
            <i class="material-icons right" style="line-height: 55px;">arrow_forward</i>
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% if request.user.is_staff or request.user == object.author %}
      <br>
      <a href="{{ object.get_update_url }}">{% trans 'Update' %}</a>
      <a href="{{ object.get_delete_url }}">{% trans 'Delete' %}</a>
    {% endif %}
  </div>
</div>