{% load i18n %}

{% load tags %}

<div class="card">
  {% if object.photo %}
    <a href="{{ object.get_absolute_url }}" class="hoverable" track-event="btn-card-join-activity">
      <div class="card-image">
        <img src="{{ object.get_photo_url }}"/>
        <p class="card-price">{{ object.formatted_price }}</p>
      </div>
      <h5 class="card-content truncate">{{ object }}</h5>
    </a>
  {% else %}
    <div class="card-content">
      <div class="card-title white-text">
        <a href="{{ object.get_absolute_url }}" track-event="btn-title-join-activity">
          <h5>{{ object }}</h5>
        </a>
      </div>
    </div>
  {% endif %}
  <div class="card-action">
    {% if is_activity_card %}
      <div class="center-align">
        {% if request.user.is_authenticated and object|already_joined:request.user.profile %}
          <a class='disabled btn btn-wide btn-large waves-effect waves-light' href="javascript:;" style="width: 100%">
            {% trans 'Already Joined' %}
            <i class="material-icons right" style="line-height: 55px;">check</i>
          </a>
        {% elif object.is_open_for_proposals %}
          <a class='btn btn-wide btn-large waves-effect waves-light' href="{{ object.get_proposal_create_url }}" style="width: 100%">
            {% trans 'Send a Proposal' %}
            <i class="material-icons right" style="line-height: 55px;">note_add</i>
          </a>
        {% elif object.slug == 'mocitec' %}
          <a class='btn btn-wide btn-large waves-effect waves-light' target="_blank" href="{{ object.link }}" style="width: 100%">
            {% trans 'Informations' %}
            <i class="material-icons right" style="line-height: 55px;">info</i>
          </a>
        {% else %}
          <a class='btn btn-wide btn-large waves-effect waves-light' {% if object.link %}href="{{ object.link }}" target="_blank"{% else %}href="{{ object.get_attendee_join_url }}"{% endif %} style="width: 100%" track-event="btn-join-activity">
            {% trans 'Join' %}
            <i class="material-icons right" style="line-height: 55px;">arrow_forward</i>
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% if request.user.is_staff or request.user == object.author %}
      <br>
      <a href="{{ object.get_update_url }}">{% trans 'Update' %}</a>
      <a href="{{ object.get_delete_url }}">{% trans 'Delete' %}</a>
      {% if not is_activity_card %}
        <a href="{{ object.get_export_attendees_url }}">{% trans 'Export attendees' %}</a>
      {% endif %}
    {% endif %}
  </div>
</div>