{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% load tags %}

{% block content %}
  {{ form.errors }}

  <form method="POST">
    {% csrf_token %}

    <div class="row">
      {% for field in form %}
        {% if field.name == 'expectations' %}
          <div class="input-field col s12 m6">
            <label for="{{ field.id }}" data-error="{{ field.errors.0 }}">
              {{ field.label }}
            </label>
            <br><br>
            {% render_field field class+="materialize-textarea" %}
          </div>
        {% elif field.name == 'born_at' %}
          <div class="input-field col s12 m6">
            {% include "includes/field.html" with field=field class='datepicker' %}
          </div>
        {% else %}
          {% include "includes/field.html" with field=field col_sizes='s12 m6' %}
        {% endif %}
      {% endfor %}
    </div>

    <br>
    <div class="center-align col s4">
      <a href="{% url 'activity:detail' activity.slug %}">
        {% trans 'back' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Save' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.datepicker').pickadate({
        format: 'dd/mm/yyyy',
        selectMonths: true,
        selectYears: 100
      });
    });
  </script>
{% endblock extra_js %}