{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% load tags %}

{% block content %}
  <form method="POST" name="join_form" id="id_join_form">
    {% csrf_token %}

    <div class="row">
      {% include "includes/field.html" with field=form.name col_sizes='s12 m6' %}
      {% include "includes/field.html" with field=form.email col_sizes='s12 m6' %}
      {% include "includes/field.html" with field=form.educational_institution col_sizes='s12 m6' %}
      {% include "includes/field.html" with field=form.cpf col_sizes='s12 m6' %}
      {% include "includes/field.html" with field=form.phone col_sizes='s12 m6' %}
    </div>

    {% if activity.slug == 'v-simposio-nexa-de-empreendedorismo-construindo-op' %}
      <div class="row">
        {% include "includes/field.html" with field=form.partner_profile col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.age_rage col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.course col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.scholarship_term col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.already_know_us col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.already_joinned_our_program col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.which_company col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.where_know_us col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.join_previous_editions col_sizes='s12 m6' %}
        {% include "includes/field.html" with field=form.which_edition col_sizes='s12 m6' %}
      </div>      
    {% endif %}

    <p class="light center red-text">
      <i class="material-icons" style="top: 3px;position:relative;">warning</i>
      <span style="font-size: 1.2em;">
        {% trans 'Before saving, review your information like your full name and cpf, they will be used in your Certificate!' %}
      </span>
    </p>
    {% if form.instance.pk and form.instance.attended_at %}
      <p class="light center red-text">
        <i class="material-icons" style="top: 3px;position:relative;">warning</i>
        <span style="font-size: 1.2em;">
          {% trans 'If you already deliver your Certificate we recomend you to re-send it with the fixed information.' %}
        </span>
      </p>
    {% endif %}

    <br>
    <div class="center-align col s4">
      <a href="{% url 'activity:detail' activity.slug %}">
        {% trans 'back' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Save' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}
