{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% load tags %}

{% block extra_css %}
  <style type="text/css">
    @media (min-width: 600px) {
      #input_credit_card, #input_name {
        max-width: 380px;
      }

      #input_cvv, #id_month, #id_year {
        max-width: 100px;
      }

      #id_month, #id_year {
        max-width: 60px;
      }
    }

    #id_expiry_date select {
      top: 2px;
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      width: calc(50% - 10px);
    }

    #id_expiry_date span {
      margin: 0px 2px;
    }

    .collapsible-body {
      padding: 20px;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <div class="center green white-text price-content">
    <h5 class="price-total">
      {% trans "Join now for only" %}
      {{ activity.formatted_price }}
    </h5>
  </div>

  <h5 class=>2. Forma de Pagamento</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active">
        <i class="material-icons">credit_card</i>
        Cartão de Crédito
      </div>
      <div class="collapsible-body">
        <form method="POST" id="payment_form" autocomplete="on">
          {% csrf_token %}

          <div class="row">
            <div class="col s12">
              {{ form.public_key }}

              <div class="row">
                {% include 'includes/field.html' with field=form.credit_card|append_attr:'autocomplete:"cc-number"' col_sizes='s12 m6' class='cc-number' input_field_id='input_credit_card' %}
                {% include 'includes/field.html' with field=form.cvv|append_attr:'autocomplete:"off"' col_sizes='s6 m3' class='cc-cvc' input_field_id='input_cvv' %}
                
                <div class="clearfix"></div>

                {% include 'includes/field.html' with field=form.holder_name|append_attr:'autocomplete="cc-full-holder_name"' col_sizes='s12 m6' input_field_id='input_holder_name' %}
                <div id="id_expiry_date" class="input-field col s12 m3">
                  {% with form.month as field %}
                    {% render_field field|append_attr:'autocomplete:"cc-exp-month"' class+=field|get_error_class class+=class class+='browser-default' %}
                  {% endwith %}

                  <span>/</span>

                  {% with form.year as field %}
                    {% render_field field|append_attr:'autocomplete:"cc-exp-year"' class+=field|get_error_class class+=class class+='browser-default' %}
                  {% endwith %}
                  <label class="active" for="id_month">Expiry Dates</label>
                </div>

                <div class="clearfix"></div>

                {% include 'includes/field.html' with field=form.holder_cpf col_sizes='s12 m3' %}
                {% include 'includes/field.html' with field=form.birth_date col_sizes='s12 m3' %}
                {% include 'includes/field.html' with field=form.installments col_sizes='s6 m3' %}
              </div>
            </div>
            <div class="center-align col s12">
              <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
                {% trans 'Pay' %}
                <i class="material-icons right">done</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">receipt</i>
        Boleto Bancário
      </div>
      <div class="collapsible-body">
        <div class="center-align">
          <a href="{{ object.get_payment_boleto_url }}" target="_blank" class="btn-large waves-effect waves-light">
            {% trans 'Baixar' %}
            <i class="material-icons right">file_download</i>
          </a>
        </div>
      </div>
    </li>
  </ul>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'attendee/js/moip-2.7.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'attendee/js/jquery.validate.js' %}"></script>
  <script type="text/javascript" src="{% static 'attendee/js/jquery.maskedinput.js' %}"></script>
  <script type="text/javascript" src="{% static 'attendee/js/payment.js' %}"></script>
{% endblock extra_js %}