{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% load tags %}

{% block content %}
  <form action="https://desenvolvedor.moip.com.br/sandbox/PagamentoMoIP.do" method="POST">
    <input type="text" name="id_carteira" value="luanfonceca@gmail.com">
    <input type="text" name="url_retorno" value="{{ object.get_payment_url }}">
    <input type="text" name="id_transacao" value="{{ object.code }}">
    <input type="text" name="descricao" value="Pagamento da atividade: {{ activity.title }} para o 168 horas.">
    <input type="text" name="valor" value="{{ activity.get_price_as_cents }}">
    <input type="text" name="nome" value="{{ activity.title }}">
    
    <br>
    <div class="center-align col s4">
      <a href="{% url 'activity:detail' activity.slug %}">
        {% trans 'back' %}
      </a>
      &nbsp;
      <button type="submit" class="btn-large waves-effect waves-light blue darken-4">
        {% trans 'Pay' %}
        <i class="material-icons right">done</i>
      </button>
    </div>
  </form>
{% endblock %}
